<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/home.css}">
    <title>Home</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li>
                <a href="">home</a>
            </li>
            <li>
                <a href="">Documentos</a>
            </li>
            <li>
                <a href="">Boletim</a>
            </li>
        </ul>
        <img src="trabalho duro.jpg" alt="">
    </nav>
</header>

<main>
    <table>
        <tr>
            <td>
                <p th:each="aluno : ${aluno}">Matricula: <span th:text="${aluno.get().getId()}"></span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p th:each="aluno : ${aluno}">nome: <span th:text="${aluno.get().getNome()}"></span> <span th:text="${aluno.get().getSobrenome()}"></span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p th:each="aluno : ${aluno}">email: <span th:text="${aluno.get().getEmail()}"></span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p th:each="aluno : ${aluno}">cpf: <span th:text="${aluno.get().getCpf()}"></span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p th:each="aluno : ${aluno}">telefone: <span th:text="${aluno.get().getTelefone()}"></span></p>
            </td>
        </tr>
    </table>
</main>

</body>
</html>