<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <title>login</title>
    <script>
        function validaForm(form){
            if(form.matricula.value.length != 7){
                alert("Insira corretamente a matricula");
                return false;
            };
            if(form.senha.value.length != 6){
                alert("Insira corretamente a senha");
                return false;
            };
            return true;
        };
    </script>
    <style>
        form{
            border: solid 1px black;
            margin: auto;
            width: 200px;
            border-radius: 5px;
            padding: 20px;
        }
        input{
            border: solid 1px black;
            border-radius: 5px;
            margin-bottom: 5px;
            width: 100%;
        }
    </style>
</head>
<body>
    <form action="/home" onsubmit="return validaForm(this);">
            <label for="POST-matricula">matricula:</label>
            <input id="POST-matricula" type="text" name="matricula">
            <label for="POST-senha">senha:</label>
            <input id="POST-senha" type="password" name="senha">
            <input type="submit" value="Entrar">
            <a href="/inscricao">Não sou matriculado?</a>
    </form>
</body>
</html>